
codes/ignore_10_chromosome_synteny_data_prep.py
codes/ignore_11_chromosome_synteny.r
codes/ignore_12_scaffold_synteny_data_prep.py
codes/ignore_13_scaffold_synteny.r
codes/ignore_14_gene_synteny_data_prep.py
codes/ignore_15_gene_synteny.r
codes/ignore_16_seq_logo_data_prep.py
codes/ignore_17_seq_logo.R
codes/fig3.ipynb
codes/fig2_vis.ipynb
codes/fig2.ipynb
codes/fig1.ipynb
results/mitos_annotation.bed
results/fig3.tiff
results/fig2.tiff
results/fig1.tiff
results/3numt_array.csv
codes/.ipynb_checkpoints/fig3_visualisation-checkpoint.ipynb
codes/.ipynb_checkpoints/fig2_vis-checkpoint.ipynb
data/alignment_scores.csv
data/e_values.txt
data/edna.mat
data/filtered_alignments.csv
data/identities.txt
data/sample_alignment.afa
results/fpr_check.png
results/deep_analysis.png
results/deep_analysis.tiff
data/RMResults.csv
data/rm_input.fa.out
results/deep_anaylsis_combined.png
